@model Projeto.Presentation.Models.AtendimentoEdicaoViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h4>Atualização de atendimentos</h4>
<hr />


<strong class="text-danger">
    @Html.Raw(@TempData["Mensagem"])
</strong>
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AtenPaciIdentificador)
    @Html.HiddenFor(model => model.AtenFisiIdentificador)

    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            @Html.LabelFor(model => model.AtenPaciIdentificador)
            @Html.DropDownListFor(model => model.AtenPaciIdentificador, Model.ListagemDePacientes, "Escolha uma opção", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AtenPaciIdentificador, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-6">
            @Html.LabelFor(model => model.AtenFisiIdentificador)
            @Html.DropDownListFor(model => model.AtenFisiIdentificador, Model.ListagemDeFisioterapeutas, "Escolha uma opção", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AtenFisiIdentificador, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(model => model.AtenData)
            @Html.TextBoxFor(model => model.AtenData, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.AtenData, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-2">
            @Html.LabelFor(model => model.AtenHora)
            @Html.TextBoxFor(model => model.AtenHora, "{0:HH:mm}", new { @class = "form-control", @type = "time" })
            @Html.ValidationMessageFor(model => model.AtenHora, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-8">
            @Html.LabelFor(model => model.AtenConduta)
            @Html.TextAreaFor(model => model.AtenConduta, new { @class = "form-control", @placeholder = "Digite aqui" })
            @Html.ValidationMessageFor(model => model.AtenConduta, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Atualizar atendimento" class="btn btn-primary" />
}
