@model List<Projeto.Presentation.Models.PacienteConsultaViewModel>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h4>Consulta de pacientes</h4>
<hr />

<strong class="text-danger">
    @Html.Raw(@TempData["Mensagem"])
</strong>

<div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div><a href="" class="search_icon btn btn-outline-primary disabled" role="button" aria-disabled="true"><i class="fas fa-search"></i></a></div>
            </div>
            <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <table id="tabela" class="table table-hover table-bordered table-striped table-sm" style="border: 3px solid #17a2b8">
            <thead class="thead-light">
                <tr align="center">
                    <th class="bg-info text-white">@Html.Label("Código")</th>
                    <th class="bg-info text-white">@Html.Label("Paciente")</th>
                    <th class="bg-info text-white">@Html.Label("CPF/CNPJ")</th>
                    <th class="bg-info text-white">@Html.Label("Endereço completo")</th>
                    <th class="bg-info text-white">@Html.Label("Celular")</th>
                    <th class="bg-info text-white">@Html.Label("Telefone")</th>
                    <th class="bg-info text-white">@Html.Label("Email")</th>
                    <th class="bg-info text-white">@Html.Label("Atendimento inicial")</th>
                    <th class="bg-info text-white">@Html.Label("Valor consulta")</th>
                    <th class="bg-info text-white">@Html.Label("Diagnóstico")</th>
                    <th class="bg-info text-white">@Html.Label("Patologia")</th>
                    <th class="bg-info text-white">@Html.Label("Observação")</th>
                    <th class="bg-info text-white w-75">@Html.Label("Operações")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var enderecoCompleto = "";
                    if (!string.IsNullOrEmpty(item.PaciEndereco))
                    {
                        enderecoCompleto = item.PaciEndereco;

                        if (!string.IsNullOrEmpty(item.PaciNumero))
                        {
                            enderecoCompleto += ", " + item.PaciNumero;

                            if (!string.IsNullOrEmpty(item.PaciComplemento))
                            {
                                enderecoCompleto += " - " + item.PaciComplemento;

                                if (!string.IsNullOrEmpty(item.PaciBairro))
                                {
                                    enderecoCompleto += " - " + item.PaciBairro;

                                    if (!string.IsNullOrEmpty(item.PaciMunicipio))
                                    {
                                        enderecoCompleto += " - " + item.PaciMunicipio;

                                        if (!string.IsNullOrEmpty(item.PaciEstado))
                                        {
                                            enderecoCompleto += "/" + item.PaciEstado;

                                            if (!string.IsNullOrEmpty(item.PaciCep))
                                            {
                                                enderecoCompleto += " - CEP: " + item.PaciCep;

                                                if (!string.IsNullOrEmpty(item.PaciPontoReferencia))
                                                {
                                                    enderecoCompleto += " (" + item.PaciPontoReferencia + ")";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    <tr>
                        <td align="center">@Html.DisplayFor(modelItem => item.PaciIdentificador)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciNome)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciCpfCnpj)</td>
                        <td>@Html.DisplayFor(modelItem => enderecoCompleto)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciCelular)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciTelefone)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciDataInicioAtendimento)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciValorAtendimento)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciDiagnostico)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciPatologia)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaciObservacao)</td>
                        <td align="center">
                            <a href="/Paciente/Edicao/@item.PaciIdentificador"
                               class="btn btn-primary btn-sm">
                                Atualizar
                            </a>
                            <a href="/Paciente/Exclusao/@item.PaciIdentificador"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Deseja excluir este paciente?');">
                                Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">Quantidade de pacientes: @Model.Count
                    <th>
                        <a href="/Fisioterapeuta/Relatorio"
                           class="btn btn-info btn-sm btn-block">
                            Gerar relatório de fisioterapeutas
                        </a>
                    </th>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $('input#txt_consulta').quicksearch('table#tabela tbody tr');
</script>