@using Projeto.Entities
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fisioterapia</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/principal.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark justify-content-between" style="padding-top: 0px;
    padding-bottom: 0px;background-color: #17a2b8;">
            <a class="navbar-brand" href="#">
                <img src="~/Images/fisio1_logo.png" width="80" height="80" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <h4 class="nav-link">Sistema de Controle de Atendimentos</h4>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-top: 0px; padding-bottom: 0px;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Página inicial</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fisioterapeutas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Cadastro", "Fisioterapeuta")">Cadastro</a>
                            <a class="dropdown-item" href="@Url.Action("Consulta", "Fisioterapeuta")">Consulta</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pacientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Cadastro", "Paciente")">Cadastro</a>
                            <a class="dropdown-item" href="@Url.Action("Consulta", "Paciente")">Consulta</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Atendimentos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Cadastro", "Atendimento")">Cadastro</a>
                            <a class="dropdown-item" href="@Url.Action("Consulta", "Atendimento")">Consulta</a>
                            <a class="dropdown-item" href="@Url.Action("RPAConsultarDados", "Atendimento")">Gerar RPA</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>

    <div class="container-fluid">
        @RenderBody()
    </div>

</body>
</html>
